<p>
  The Emberitas 'Intermediate' Workshop is a bit of a misnomer, as it requires
  no prior knowledge of Ember.js. However, it does assume some past experience
  with Javascript.
</p>

<p>
  If you are attending an Emberitas workshop, we'll make sure to review
  important Javascript principles before we jump into creating our Ember
  application. To really slay, you may also want to brush up on you JS skills
  at <a href="https://www.codecademy.com/learn/javascript"> Codecademy </a>.
</p>

<h3>About This Course</h3>

<p>
  The goal of this workshop is to take you step-by-step through the early stages
  of creating a simple Ember application.
</p>

<p>
  Many 'Learn to X' workshops, online courses, or e-books focus on covering
  the 'happy path' for every important concept of the framework or language.
</p>

<p>
  However, much of the frustration with learning a new framework or language,
  in my experience, comes when you veer off the happy path and into the weeds.
</p>

<p>
  For that reason, instead of focusing on getting a shallow understanding of
  <em>all</em> of the important concepts of Ember, this workshop instead focuses
  on getting a deeper understanding of a few important concepts, which an
  interested developer could use to explore Ember in more detail on their own.
</p>

<h3>The Scope of This Workshop</h3>
<p>
  We focus a lot on using Ember-CLI generators,
  on understanding the Ember router and it's nesting
  behavior, as well as creating and customizing Ember components
  using components' lifecyle
  hooks.
</p>

<p>
  We introduce promises and how you can use them to create some sanity in
  the world of asyncronous Javascript.
</p>

<p>
  We also take some time to learn how to leverage a popular Ember addon
  named 'Ember CLI Mirage', which can help front-end developers prototype
  a complex UI without the need for a live API to serve data.
</p>

<p>
  Unfortunately, the very important concepts of testing in Ember, a deep
  exploration into Ember.Route, the Ember run loop, and the concept of
  'data down, actions up' and other important
  concepts in the Ember ecosystem are not explored in today's workshop.
</p>

<p>
  If you learn today that Ember floats your boat, there will be more than
  enough time and resources for you to level-up on those concepts :).
</p>

<h3>The Approach</h3>

<p>
  We'll start with the simplest implementation of each feature, then build on
  it until we have a better understanding of <em>how</em> and <em>why</em> it
  works that way. Of course, there's still only a limited amount of depth we
  can get into in a one-day workshop, so I encourage you to mark the concepts
  you're interested in and research them on your own!
</p>

<h3> Resources </h3>
<ul>
  <li>
    {{link-to
      'CSS For the Workshop Application'
      'resources.intermediate.css'
    }}
  </li>

  <li>
    {{link-to
      'Images for the Workshop Application'
      'resources.intermediate.images'
    }}
  </li>

  <li>
    {{link-to
      'Application.hbs Code for Workshop Application'
      'resources.intermediate.application-hbs'
    }}
  </li>
  <li>
    {{link-to
    'Workshop Curriculum Notes 7/16/2016'
    'resources.intermediate.workshop-notes'}}
  </li>
</ul>
{{outlet}}
